extends layout

block content
  link(href='/static/styles.css', rel='stylesheet')
  script(src='https://momentjs.com/downloads/moment.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/superagent/3.5.2/superagent.js')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
  #container(style='background: url(\'https://splitpixl.xyz/assets/images/paloose.jpg\');')
  //  video#bgvid.videobcg(preload='auto', autoplay='true', loop='loop', muted='muted', volume='0')
  //    source(src='https://img.splitpixl.xyz/video.mp4', type='video/mp4')
  //    |     Sorry, your browser does not support HTML5 video.
  .section-vid
    .conn
      h1#title ?:?? ??
      p#date Today
  .section-accesseries
    .todo
      .list#list
        .makeeverythinggoodagain
          input(type='checkbox', name='one')
          label(for='one') eat breakfast
        .makeeverythinggoodagain
          input(type='checkbox', name='tw')
          label(for='tw') brush teath
        .makeeverythinggoodagain
          input(type='checkbox', name='3')
          label(for='3') go to schol
        .makeeverythinggoodagain
          input(type='checkbox', name='4')
          label(for='4') leave
        .makeeverythinggoodagain
          input(type='checkbox', name='5')
          label(for='5') profit
      .makeeverythinggoodagain
        input#addtodo.linetext(type='text', onkeydown='todo(event)')
        i.fa.fa-pencil.icon(aria-hidden='true')
    #ctrl-button
      input#search(type='text', onkeydown='search(event)')
      a(href='#', onclick="window.location = 'https://google.com/search?q=' + encodeURIComponent(document.getElementById('search').value)")
        i.fa.fa-search.icon(aria-hidden='true')
    #weather
      h2 Loading...
    a.settingsbtn(href='#' onclick='opensettings()')
      i.fa.fa-gear.iconcog(aria-hidden='true')
  #settings()
    .wrap
      h2 Settings
      .option
        p.label Location
        input(type='text' placeholder='City or Postal Code' onkeyup='localStorage.location=event.srcElement.value' name='location').linetext
      .option
        p.label Background Rotation Interval
        input(type='number' placeholder='(seconds)' name='bgchange').linetext
      .option
        p.label Another Thing
        input(type='text' placeholder='meow').linetext
      .option
        p.label Blur
        input#blurSlide(type='range', min='0', max='25', step='1', name='blur' onchange="printValue('blurSlide','blurVal')")
        input#blurVal(type='text' size='2')
    a.settingsbtn(href='#' onclick='closesettings()')
      i.fa.fa-times.iconcog(aria-hidden='true')
        
        
    script(src='/static/main.js')
