extends layout

block head
  script(src="/script/moment.js")
  script(src="/script/main.js")
  script(src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
  

block content
  .loadFS
    .loader Loading...
  .bg
  .overlay
    input(placeholder="search").search
    .todo
      .list
        .items
        input(placeholder="new todo").add-item
      .buttons
        .setting-btn
          i.fas.fa-cog
        .handle
          i.fas.fa-angle-double-down
    .clock
      .weekday
      .time
      .date
    .weather
      | Loading...
  .settings
    .close-btn
      i.fas.fa-times
  .err 
    h1 An error happened.
    code
      
    
