extends layout

block content
  link(href='/static/styles.css', rel='stylesheet')
  script(src='https://momentjs.com/downloads/moment.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/superagent/3.5.2/superagent.js')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
  #container(style='filter: blur(10px); background: url(\'https://splitpixl.xyz/assets/images/paloose.jpg\');')
  //  video#bgvid.videobcg(preload='auto', autoplay='true', loop='loop', muted='muted', volume='0')
  //    source(src='https://img.splitpixl.xyz/video.mp4', type='video/mp4')
  //    |     Sorry, your browser does not support HTML5 video.
  .section-vid
    .conn
      h1#title ?:?? ??
      p#date Today
      p=`Hello ${user.displayName}`
  .section-accesseries
    .todo
      .list#list
        .makeeverythinggoodagain
          input(type='checkbox', name='one')
          label(for='one') eat breakfast
        .makeeverythinggoodagain
          input(type='checkbox', name='tw')
          label(for='tw') brush teath
        .makeeverythinggoodagain
          input(type='checkbox', name='3')
          label(for='3') go to schol
        .makeeverythinggoodagain
          input(type='checkbox', name='4')
          label(for='4') drop out
        .makeeverythinggoodagain
          input(type='checkbox', name='5')
          label(for='5') somehow make enough money to survive
        .makeeverythinggoodagain
          input(type='checkbox', name='6')
          label(for='6') fail at life
      .makeeverythinggoodagain
        input#addtodo.addtodo(type='text', onkeydown='todo(event)')
        i.fa.fa-pencil.icon(aria-hidden='true')
    #ctrl-button
      input#search(type='text', onkeydown='search(event)')
      a(href='#', onclick="window.location = 'https://google.com/search?q=' + encodeURIComponent(document.getElementById('search').value)")
        i.fa.fa-search.icon(aria-hidden='true')
    #weather
      h2 Loading...
    a.settingsbtn(href='#' onclick='openSettings()')
      i.fa.fa-gear.iconcog(aria-hidden='true')
  #settings
    h2 Settings
      
    script(src='/static/main.js')
