extends layout

block content
  link(href='/static/styles.css', rel='stylesheet')
  script(src='./static/moment.js')
  script(src='./static/superagent.js')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
  #container()
  //  video#bgvid.videobcg(preload='auto', autoplay='true', loop='loop', muted='muted', volume='0')
  //    source(src='https://img.splitpixl.xyz/video.mp4', type='video/mp4')
  //    |     Sorry, your browser does not support HTML5 video.
  .section-vid
    .conn
      h1#title ?:?? ??
      p#date Today
  .section-accesseries
    .todo
      .list#list
        .loadwrap
          i.fa.fa-refresh.fa-spin.fa-3x.fa-fw.loader
      .makeeverythinggoodagain
        input#addtodo.linetext(type='text', onkeydown='todo(event)')
        i.fa.fa-pencil.icon(aria-hidden='true')
    #ctrl-button
      input#search(type='text', onkeydown='search(event)')
      a(href='#', onclick="window.location = 'https://google.com/search?q=' + encodeURIComponent(document.getElementById('search').value)")
        i.fa.fa-search.icon(aria-hidden='true')
    #weather
      h2 Loading...
    a.settingsbtn(href='#' onclick='opensettings()')
      i.fa.fa-gear.iconcog(aria-hidden='true')
  #settings()
    .wrap
      h2 Settings
      .option
        p.label Location
        input#locationZip(type='text' placeholder='City or Postal Code' onkeyup='localStorage.location=event.srcElement.value' name='location').linetext
      .option
        p.label Background Rotation Interval
        input#backgroundInterval(type='number' placeholder='(seconds)' name='bgchange').linetext
      .option
        p.label Background Sources (reddit)
        input#reddits(type='text', placeholder='EarthPorn, SpacePorn, ExposurePorn' name='reddit').linetext
      .option
        p.label Blur
        input#blurSlide(type='range', min='0', max='25', step='1', name='blur' onchange="blurSetting()")
    a.settingsbtn(href='#' onclick='closesettings()')
      i.fa.fa-times.iconcog(aria-hidden='true')
    a#userstats(style='visibility: hidden;')
      img.userimg#userimg()
      p.username#username
    a.loginbtn#loginbutton(href='./auth' onclick='loginbchange()' style='visibility: hidden;')
      p.labellogin Login        
        
    script(src='/static/main.js')
