extends layout

block head
  title Fling
  script(src="/utils.js")
  script(src="/requirer.js")
  script(src="/script/app.js")
  script(src="/lib/fontawesome.js")
  

block content
  .bg
  .loadFS
    .loader Loading...
  .overlay
    
