@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400');
html {
  font-family: 'Roboto', sans-serif;
  background-color: #333;
  overflow: hidden;
}
h2 {
  font-weight: 300;
}
#container {
  width:100%;
  height:100%;
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  background-color: #222;
  transition: 1.5s;
  background-size: cover !important;
  background-position: center !important;
}
.section-vid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display:flex;
  justify-content:center;
  align-items:center;
}
.section-accesseries {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display:flex;
}
.button {
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 150%;
  margin: 6px 12px;
  cursor: pointer;
  border-bottom: 2px solid rgba(255,255,255,0.1);
  transition: 0.5s
}
.button:hover {
  border-bottom: 2px solid rgba(255,255,255,1);
  transition: 0.5s
  }
.conn {
  text-align: center;
}
#ctrl-button {
  position: absolute;
  margin-left:auto;margin-right:auto;
  white-space: nowrap;
  z-index: 6;
  top: 0px;
  right: 0px;
  padding: 0px
}
#title {
  font-weight: 100;
  font-size: 750%;
  transition: 1s;
  color: rgba(255, 255, 255, 0);
  margin: 0px
}
#offset {
  height: 20%;
  transition: 1.5s;
}
#date {
  margin-top: 0;
  color: rgba(255, 255, 255, 0);
  font-size: 150%;
  font-weight: 300;
  }
input[type=text]#search {
  width: 100%;
  padding: 6px 10px;
  margin: 0px;
  border-radius: 6px;
  background-color: rgba(192, 192, 192, 0.5);
  border: none;
  font-size: 100%;
  color: #FFF;
  margin-right: 0;
  border-radius: 0px 0px 0px 6px;
}
.icon {
  position: relative;
  z-index: 10;
  left: -25px;
  top: 1px;
  color: #fff;
  width: 0;
}
  .searchbtn {
  padding: 6px 10px;
  margin: 2px;
  border-radius: 0px 6px 6px 0px;
  background-color: rgba(192, 192, 192, 0.5);
  border: none;
  border-left: 2px solid #fff;
  font-size: 95%;
  color: #FFF;
  text-decoration: none;
  margin-left: 0;
  }
  *:focus {
  outline: none;
  }
.todo {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(192, 192, 192, 0.5);
  z-index: 5;
  padding: 8px;
  border-radius: 0px 0px 6px 0px;
  display: flex;
  flex-direction: column;
}
.linetext {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid #fff;
  margin: 2px;
  color: #FFF;
  font-size: 100%;
  width: 95%;
  color: #FFF;
}
#weather {
  position: absolute;
  bottom: 8px;
  left: 12px;
  color: #fff;
}
label {
  color: #fff
}
.settingsbtn {
  position: absolute;
  z-index: 12345; /* this does not work it is behind the panel */
  bottom: 12px;
  right: 12px;
  font-size: 24px;
  margin: 2px;
  width: 30px;
  height: 30px;
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.loginbtn {
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 24px;
  margin: 2px;
  width: 60px;
  height: 30px;
  background-color: rgba(51, 204, 255, 0.7);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.userstats {
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 18px;
  margin: 2px;
  width: 140px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.userimg {
  position: absolute;
  bottom: 12px;
  left: 12px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 2px;
  display: flex;
}

.username {
  position: absolute;
  bottom: -8px;
  left: 80px;
  height: 60px;
  width: 120px;
  margin: 2px;
  display: flex;
}

p.labellogin {
  margin: 3px 0px 6px 1px;
  font-size: 80%;
  color: #fff;
}
.iconcog {
  color: #fff;
}
#settings {
  position: absolute;
  z-index: 15;
  width: 50%;
  min-height: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
  color: #fff;
  /*padding: 12px;*/
  top: 100%;
  left: 50%;
  border-top-left-radius: 6px;
}
#settings .wrap {
  margin: 12px
}
p.label {
  margin: 3px 0px 6px 1px;
  font-size: 120%
}

.option {
  width: 75%;
  margin-bottom: 6px;
}

.option .linetext {
  background-color: rgba(192, 192, 192, 0);
  border: none;
  border-bottom: 2px solid rgba(192, 192, 192, 1);
  margin: 2px;
  color: rgba(192, 192, 192, 1) !important;
  font-size: 100%;
  width: 98.73%;
  color: #FFF;
}

.loadwrap {
  width: 100%;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px 0px
}

.loader {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}
